.options {
  margin-top: 22px;
}
.options__card {
  margin-bottom: 16px;
}

.card {
  background: #ffffff;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 9px 13px;
  box-shadow: 1px 3px 10px rgba(55, 71, 79, 0.1);
}
.card__route-wrapper {
  position: relative;
  border-bottom: 1px solid rgba(144, 144, 144, 0.2);
  padding-bottom: 10px;

  padding-right: 30px;
}

.card__route {
  display: block;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  padding-top: 5px;
  padding-left: 13px;
  font-family: "Suisse Intl";
  font-weight: 500;
  font-size: 0.85rem;
  line-height: 1rem;
  color: #19303d;
  &::before {
    position: absolute;
    content: "";
    left: 6px;
    top: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 5px;
    background: url(../../img/liststyle.svg) 0 0 / contain no-repeat;
  }
  &::after {
    position: absolute;
    content: "";
    right: -10px;
    height: 100%;
    width: 20px;
    background: linear-gradient(
      270deg,
      #ffffff 41.52%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  @media (min-width: 960px) {
    font-size: 1rem;
    line-height: 1.15rem;
  }
}
.card__btn-next {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 5px 4px 5px;
  background: rgba(144, 144, 144, 0.1);
  border-radius: 100%;
}
.card__xtra-info-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
  font-family: "Suisse Intl";
  font-size: 0.85rem;
  line-height: 1rem;
  color: #75838b;
  > *:first-child {
    padding-left: 13px;
  }
}
