.page-3-body {
	.route{
		padding: 0;
		justify-content: center;
	}
	.page3-header{
		margin-top: 18px;
	}
  .route__specific {
    font-family: "Suisse Intl";
    font-size: 0.85rem;
		line-height: 1rem;
    color: #909090;
	}
	.card__xtra-info-wrapper{

	}
	.card__route{
		padding-left: 3px;
		&::before{
			display: none;
		}
	}
}
