.page-body.state_2 {
	background: #00bba4;
	.container {
		padding-left: 7px;
		padding-right: 7px;
	}
  .page-header {
    padding: 0;
  }

  .header__burger {
    display: none;
  }
  .header__logo {
    display: none;
  }
  .page-main {
    margin: 0;
  }

  .search__form {
    margin-top: 5.5px;
	}
	.search__back-icon {
		width: 16px;
		height: 16px;
		stroke: #909090;
	}
  .search__back-btn {
		display: block;
  }
  .search__slogan {
    display: none;
  }
  .search__xtr-btn {
		display: block;
    position: absolute;
    border: none;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 26px;
    height: 26px;
    background: transparent;
		background: url(../../img/minus2.png) 0 0 / contain no-repeat;
  }
  .search__input-n-drop {
    &:nth-last-child(1) {
      .search__input {
        border-radius: 5px 5px 0 0;
      }
      .search__xtr-btn {
        width: 14px;
        height: 14px;
        right: 14px;
        background: url(../../img/find.png) 0 0 / contain no-repeat;
      }
    }
    &:nth-child(1) {
      .search__input {
        border-radius: 5px;
      }
      .search__xtr-btn {
        background: url(../../img/add2.png) 0 0 / contain no-repeat;
      }
    }
  }
  .search__input-wrapper {
    margin-bottom: 10px;
  }
  .search__input {
    padding: 9px 52px 9px 40px;
    border: none;
    box-shadow: none;
    border-radius: 5px;
    background: #ffffff;
    border-bottom: 1px solid rgba(144, 144, 144, 0.5);
    &::placeholder {
      color: #909090;
    }
  }
  .search__checkboxes-wrapper {
    display: none;
  }
  .search__submit-wrapper {
    display: none;
  }
}
